.form_input{
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #3c3e56;

}
.login_btn{
    padding: 10px 15px;
    transition: 0.4s all;
    border-radius: 10px;
    background-color: rgb(139 92 246 );
}
.login_btn:hover{
    color: rgb(139 92 246 ) ;
    background-color: white
   ;
}
.form{
    background-color: rgb(7 16 45 ) ;
    padding: 40px 0px;
    border: 1px solid transparent;
    border-radius: 50px;
}

